rpc-all/rpc-core/src/main/resource/META-INF/qiyi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema  xmlns="http://www.qiyi.com/schema/tags" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:beans="http://www.springframework.org/schema/beans"  
    targetNamespace="http://www.qiyi.com/schema/tags"  
    elementFormDefault="qualified"   
    attributeFormDefault="unqualified" >
    
    <xsd:import namespace="http://www.springframework.org/schema/beans" />
	    <xsd:element name="client">
	    <xsd:complexType>
	    <xsd:complexContent>
	    <xsd:extension base="beans:identifiedType">
	     <xsd:attribute name="interfaceName" type="xsd:string"></xsd:attribute>
	     <xsd:attribute name="group" type="xsd:string"></xsd:attribute>
	     <xsd:attribute name="version" type="xsd:string"></xsd:attribute>
	     </xsd:extension>
	    </xsd:complexContent>
	    </xsd:complexType>
	    </xsd:element>
     <xsd:element name="server">
	    <xsd:complexType>
	    <xsd:complexContent>
	     <xsd:extension base="beans:identifiedType">
	     <xsd:attribute name="interfaceName" type="xsd:string"></xsd:attribute>
	     <xsd:attribute name="group" type="xsd:string"></xsd:attribute>
	     <xsd:attribute name="refer" type="xsd:string"></xsd:attribute>
	     <xsd:attribute name="version" type="xsd:string"></xsd:attribute>
	     </xsd:extension>
	    </xsd:complexContent>
	    </xsd:complexType>
	    </xsd:element>
	   <xsd:element name="config">
	    <xsd:complexType>
	    <xsd:complexContent>
	     <xsd:extension base="beans:identifiedType">
	     <xsd:attribute name="address" type="xsd:string"></xsd:attribute>
	     <xsd:attribute name="sessionTimeoutMs" type="xsd:integer"></xsd:attribute>
	     <xsd:attribute name="retrySleepTimeMs" type="xsd:integer"></xsd:attribute>
	     <xsd:attribute name="retryMaxRetries" type="xsd:integer"></xsd:attribute>
	     </xsd:extension>
	    </xsd:complexContent>
	    </xsd:complexType>
	    </xsd:element>
    </xsd:schema>
